# System
PUID=1000
PGID=1000
TZ=Europe/Helsinki

# Paths
DATA=/path/to/data
CONFIGS=/path/to/configs

# Jellyfin
JELLYFIN_URL=https://jellyfin.example.com

# Service ports
RADARR_PORT=7878
SONARR_PORT=8989
BAZARR_PORT=6767
PROWLARR_PORT=9696
QBITTORRENT_WEBUI=8080
QBITTORRENT_PEER_TCP=6881
QBITTORRENT_PEER_UDP=6881
HANDBRAKE_WEBUI=5800

# Pi-hole
PIHOLE_PASSWORD=changeme
PIHOLE_WEBUI=8089

# Immich
IMMICH_VERSION=release
UPLOAD_LOCATION=/path/to/immich/uploads
DB_DATA_LOCATION=/path/to/immich/db
DB_PASSWORD=changeme
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
