{
    email your-email@example.com
}

(security_headers) {
    header {
        X-Content-Type-Options "nosniff"
        X-Frame-Options "SAMEORIGIN"
        Referrer-Policy "strict-origin-when-cross-origin"
        -Server
    }
}

bigmt.dynv6.net  {
    import security_headers
    reverse_proxy http://<TAILSCALE_HOSTNAME>:3000
}
jellyfin.bigmt.dynv6.net  {
    import security_headers
    reverse_proxy http://<TAILSCALE_HOSTNAME>:8096
}
sonarr.bigmt.dynv6.net  {
    import security_headers
    reverse_proxy http://<TAILSCALE_HOSTNAME>:8989
}
radarr.bigmt.dynv6.net  {
    import security_headers
    reverse_proxy http://<TAILSCALE_HOSTNAME>:7878
}
qbittorrent.bigmt.dynv6.net  {
    import security_headers
    reverse_proxy http://<TAILSCALE_HOSTNAME>:8080
}
bazarr.bigmt.dynv6.net  {
    import security_headers
    reverse_proxy http://<TAILSCALE_HOSTNAME>:6767
}
jellyseerr.bigmt.dynv6.net  {
    import security_headers
    reverse_proxy http://<TAILSCALE_HOSTNAME>:5055
}
prowlarr.bigmt.dynv6.net  {
    import security_headers
    reverse_proxy http://<TAILSCALE_HOSTNAME>:9696
}
portainer.bigmt.dynv6.net  {
    import security_headers
    reverse_proxy http://<TAILSCALE_HOSTNAME>:9000
}
cockpit.bigmt.dynv6.net  {
    import security_headers
    reverse_proxy http://<TAILSCALE_HOSTNAME>:9090
}
immich.bigmt.dynv6.net  {
    import security_headers
    reverse_proxy http://<TAILSCALE_HOSTNAME>:2283
}
pihole.bigmt.dynv6.net {
    import security_headers
    redir / /admin permanent
    reverse_proxy http://<TAILSCALE_HOSTNAME>:80
}
lidarr.bigmt.dynv6.net {
    import security_headers
    reverse_proxy http://<TAILSCALE_HOSTNAME>:8686
}
backrest.bigmt.dynv6.net {
    import security_headers
    reverse_proxy http://<TAILSCALE_HOSTNAME>:9898
}
bigmt.v6.rocks {
    import security_headers
    reverse_proxy http://<TAILSCALE_HOSTNAME>:3000
}
homepage.bigmt.dynv6.net {
    import security_headers
    reverse_proxy http://<TAILSCALE_HOSTNAME>:3000
}
uptime.bigmt.dynv6.net {
    import security_headers
    reverse_proxy http://<TAILSCALE_HOSTNAME>:3001
}
seafile.bigmt.dynv6.net {
    import security_headers
    reverse_proxy http://<TAILSCALE_HOSTNAME>:8082
}
:80 {
    respond "Not Found" 404
}
